<script>
$(function() {
	$("#tabs").tabs();
});
</script>

<div class="demo">

	<div id="tabs">
		<ul>
			<li><a href="#tabs-windows">Window cleaning</a></li>
			<li><a href="#tabs-eaves">Eaves cleaning</a></li>
			<li><a href="#tabs-painting">Painting</a></li>
		</ul>
		<div id="tabs-windows">
			<ul class="services">
				<li>
					<span class="name">W1 - Exterior only.</span>
					No removal of window, storm or screen. Remove loose dirt and water from sills.
				</li>
				<li>
					<span class="name">W2 - Two-sided job.</span>
					Interior and exterior of window or storm. No removal of window, storm or screen. Remove loose dirt and water from sills.
				</li>
				<li>
					<span class="name">W3 - Three sided job.</span>
					Brush screens to remove loose dirt. Remove storm, clean both sides. Clean exterior window. Replace storm. Remove loose dirt and water form sills.
				</li>
				<li>
					<span class="name">W4 - Four sided job.</span>
					Remove storm, clean both sides. Clean both sides of window. Brush screens to remove loose dirt. Replace storm. Remove loose dirt and water from sills.
				</li>
				<li>
					<span class="name">Additional Work</span>
					Additional work will be charged $130 per hour for a two man crew.
				</li>
			</ul>	
		</div>
		<div id="tabs-eaves">
			<ul class="services">
				<li>
					<span class="name">EH - Clean interior of house eaves.</span>
					Does NOT include repairs, installation of cages, removal of screens, or check downspouts.
				</li>
				<li>
					<span class="name">EG - Clean interior of garage eaves.</span>
					Clean interior of garage eaves. Does NOT include repairs, installation of cages or removal of screens.
				</li>
				<li>
					<span class="name">DSC - Clean the mouth of down spout and install downspout cage.</span>
					Price per cage is $5
				</li>
				<li>
					<span class="name">SDS - Snake downspouts and remove any clogs.</span>
					If we are unable to clean your downspouts, we will not charge for this.
				</li>
				<li>
					<span class="name">Additional Work</span>
					Additional work will be charged $130 per hour for a two man crew. This does not include the cost of materials.
				</li>
			</ul>	
		</div>
		<div id="tabs-painting">
			<ul class="services">
				<li>
					Free written paint estimates for both interior and exterior projects.
				</li>
				<li>
					Paint, staining, paint removal and wallpaper stripping services available.
				</li>
			</ul>	
		</div>
	</div>

</div>

<div style="display: none;" class="demo-description">
</div>

