<div class="content">

	<p class="header1">Update White Shark Online Services security profile</p>

	<p class="text_body">Your security profile was updated successfully. An email was be sent to <b><%= @profile_form.email %></b> with the changed login information for your reference.</p> 

	<p class="text_body">Please continue to use these online services:</p>
	<%= render :partial => '/shared/eservices_menu' %>

</div>
