<div class="content">

<p class="header1">Recover White Shark Online Services password</p>

<p class="text_body">An email was sent to <b><%= @forgot_password_form.email %></b> with your password included. 

</div>
