	<ul id="eServicesMenu">
		<li><a href="#">Book a job</a></li>
		<li><a href="#">Manage/Pay recent and pending jobs</a></li>
		<li><%= link_to 'Update email address or password', new_users_profile_path %></li>
		<li><%= link_to 'Logout', logout_path %></li>
	</ul>
