<header id="pageHeader">
	<%= link_to "/" do %>
	<%= image_tag "sharklogo_t.gif", :id => "company_logo", :width => 135, :alt => I18n.t(:white_shark) %>
	<%= image_tag "extramile_t.gif", :id => "extramile_logo", :width => 187, :alt => I18n.t(:extra_mile) %>
	<div id="company">
		<h1><%= I18n.t(:white_shark_ltd) %></h1>
		<p>416-363-7420</p>
	</div>
	<% end %>
</header>
