<div id="mainNav">
	<ul>
		<li id="nav_services">
			<%= link_to 'Our services', services_path, :title => "Our services" %>
			<em>Window, eaves cleaning, painting</em>
		</li>
		<li id="nav_quote">
			<%= link_to 'Obtain a quote', new_inquiry_path, :title => "Obtain a quote" %>
			<em>Free quote usually provided in a day</em>
		</li>
		<li id="nav_book">
			<a href="/eServices/index.jsp" title="Book a job">Book a job</a><em>Sign in, book or manage jobs</em>
		</li>
	</ul>
</div>
