<div id="mainNav">
	<ul>
		<li id="nav_services">
			<a href="/services.jsp", title="Our services">Our services</a>
			<em>Window, eaves cleaning, painting</em>
		</li>
		<li id="nav_quote">
			<a href="/contactUs/index.jsp" title="Obtain a quote">Obtain a quote</a><em>Free quote usually provided in a day</em>
		</li>
		<li id="nav_book">
			<a href="/eServices/index.jsp" title="Book a job">Book a job</a><em>Sign in, book or manage jobs</em>
		</li>
	</ul>
</div>
