<div class="content">

	<p>Welcome, <span class="bold"><%= @user.client.full_name %></span></p>
	<p class="text_body">Please use these online services:</p>
	<%= render :partial => '/shared/eservices_menu' %>
	
</div>
