<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>White Shark Ltd</title>
</head>
<body>
<p><b>Dear <%= @client.full_name %>,</b></p>
<p>Thank you for using White Shark Online Services. You can login to <a href="https://www.whiteshark.ca/login">White Shark Online Services</a> with the following information:</p>
<p>You have a nice butt</p>
<table>
	<tr>
		<td><B>Email Address: </B></td>
		<td><%= @client.email %></td>
	</tr>
	<tr>
		<td><B>Password: </B></td>
		<td><%= @client.address %></td>
	</tr>
</table>	
<br/>
<p>
Regards,<br/><br/>

White Shark Ltd<br/>

phone: (416)363-7420<br/>
fax: (416)923-3958<br/>
<a href="https://www.whiteshark.ca">www.whiteshark.ca</a><br/>
<a href="mailto:customerservice@whiteshark.ca">customerservice@whiteshark.ca</a>
</p>
</body>
</html>