/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}

html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	background: white;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 14px;
}

body {
	width: 1100px;
/*	background: #EDE4D6; */
/*	background: #eee;   */
	margin: 0px auto;
	padding: 5px 0px;
}

header {
	color: #006;
	height: 135px;
	width: 960px;
}

header a {
	text-decoration: none;
	color: #006;
	border-bottom: 0px;
}

header a:hover {
	color: #006;
	border-bottom: 0px;
}

#whiteshark_logo {
	float: left;
	padding: 0 0 0 10px;
}

#extramile_logo {
	float: right;
	padding: 30px 10px 0 0;
}

#company {
	display: inline block;
	margin: 0 auto;
	width: 350px;
	padding: 20px 0 5px 0px;
	font-weight: bold;
}

#company h1 {
	font-size: 2.5em;
	letter-spacing: 2px;
	border-bottom: 2px solid #006;
}

#pageHeader p {
	font-size: 1.5em;
	font-weight: bold;
	font-style: italic;
	text-align: right;
}

#mainNav {
	padding: 0 5px;
}
#mainNav ul {
	list-style: none;
}

#mainNav li {
	display: block;
    float: left;
    width: 270px;
    height: 70px;	
}

#mainNav li a {
    text-transform: uppercase;
	text-align: center;
	font-size: 1.2em;
    display: block;
    margin-right: 3em;
}

#mainNav li em {
	display: block;
    text-transform: lowercase;
}

#nav_services a {
	background: url("/assets/icon_sprites_25.png") no-repeat scroll 10px 3px transparent;
	padding: 3px 0px 7px 0px;	
}

#nav_quote a {
	background: url("/assets/icon_sprites_25.png") no-repeat scroll 3px -197px transparent;
	padding: 3px 0px 7px 0px;	
}

#nav_book a {
	background: url("/assets/icon_sprites_25.png") no-repeat scroll 12px -297px transparent;
	padding: 3px 0px 7px 0px;	
}

#banner {
	clear: both;
}

#fadeshow {
	float: left;
	margin-right: 20px;
}

#banner p {
	float: right;
	width: 335px;
	padding-right: 5px;
	margin-bottom: 10px; 
	line-height: 150%;
}

#services {
	clear: both;
	padding-top: 20px;
}

#services section {
	float: left;
	width: 260px;
	height: 200px;
	margin: 0px 20px 20px 0px;
	padding: 10px 20px 10px 20px;
	background: -moz-linear-gradient(center top , #E1E1E1 0pt, #FFFFFF 100%) repeat scroll 0 0 transparent;	
	background: -o-linear-gradient(center top , #E1E1E1 0pt, #FFFFFF 100%) repeat scroll 0 0 transparent;	
	background: -webkit-linear-gradient(center top , #E1E1E1 0pt, #FFFFFF 100%) repeat scroll 0 0 transparent;	
	background: -ms-linear-gradient(center top , #E1E1E1 0pt, #FFFFFF 100%) repeat scroll 0 0 transparent;	
	background: linear-gradient(center top , #E1E1E1 0pt, #FFFFFF 100%) repeat scroll 0 0 transparent;	
	border-radius: 10px;
	border: 1px solid #E1E1E1;
	cursor: pointer;
}

#services #painting {
	margin-right: 0;
}
#services section h2 {
	border-bottom: 1px dashed black; 
	padding-bottom: 5px;
}

#services section p {
	padding-top: 10px;
	font-size: .9em;
}

#services section ul {
	padding: 10px 0 10px 40px;	
	font-size: .9em;
	line-height: 150%;
}

a {
	text-decoration: none;
	color: rgb(219,126,64);
	border-bottom: 1px dotted rgb(219,126,64);
}

a:hover {
	color: #7B798F;
	border-bottom: 1px solid #7B798F;
}

footer {
	clear: both;
	margin: 1em 20px 1em 0;
	border-top: 1px solid #ccc;
}

footer #contact {
	text-align: center;
	padding-top: 5px;
}

div.content {
	padding: 0 5px;
  line-height: 150%;
}
.div_form {
	margin-top: 15px;
}

.div_form h1 {
  font-size: 1.2em;
}

.div_form p {
  line-height: 150%;
}

.div_form .required {
  font-size: 0.9em;
}

.div_form .required span {
  font-size: 0.9em;
  color: red;
}

.div_form form {
	background: -moz-linear-gradient(center top , #E1E1E1 0pt, #FFFFFF 100%) repeat scroll 0 0 transparent;	
	background: -o-linear-gradient(center top , #E1E1E1 0pt, #FFFFFF 100%) repeat scroll 0 0 transparent;	
	background: -webkit-linear-gradient(center top , #E1E1E1 0pt, #FFFFFF 100%) repeat scroll 0 0 transparent;	
	background: -ms-linear-gradient(center top , #E1E1E1 0pt, #FFFFFF 100%) repeat scroll 0 0 transparent;	
	background: linear-gradient(center top , #E1E1E1 0pt, #FFFFFF 100%) repeat scroll 0 0 transparent;	
}

.div_form form div.input {
  padding: 10px;
  clear:both;
}

.div_form form div.error {
  margin:0.5em 0.5em 0.5em 9.5em;
  color:red; 
    clear: none;
}
.div_form .field_with_errors {
  border-color: red;
  color: red;
}
.div_form label {
    display:block;
    float:left;
    text-align:right;
    padding:0 0.5em 0 0;
    width:8em;
}

.div_form form span {
  color:red;
  width: 1em;
    padding:0 0.5em 0 0;
}
.div_form input {
    float:left;
}
.div_form input.submit {
  margin-left:9.5em; 
}
.formwarning {
    clear:both;
    float:left;
    margin:0 0.5em 1em 0;
}
.content .name {
	font-weight:bold;
}
.content .bold {
	font-weight:bold;
}
.content td {
	vertical-align: top;
}

fieldset {
	border-radius:7px;
	background: linear-gradient(center top , #E1E1E1 0pt, #FFFFFF 100%) repeat scroll 0 0 transparent;	
	border: 1px solid #E1E1E1;
	margin:0 0 1.25em;
	padding:8px 8px;
	width:1100px;
}

fieldset legend {
	border-radius:4px;
	background:#EEFAF9;
	border-color:#000066;
	border-style:solid;
	border-width:3px 1px 1px;
	font-size:13px;
	font-weight:bold;
	margin:0 0 6px;
	padding:3px 6px;
}
.floatLeft {
	float:left;
	clear: left;
	line-height: .99em;
}
.floatRight {
	float: right;
	clear: right;
	line-height: .99em;
}
.clearBoth {
	clear:both;
	margin: 0;
	padding: 0;
}
#buttons {
	padding: 12px 8px 8px 12px;
	width: 640px;
	background:#EEFAF9;
}
#home_left {
	margin:0;
	padding: 12px 8px 12px 8px;
	float:left;
	clear: left;
}
#home_right {
	margin:0;
	padding: 12px 8px 12px 8px;
	width: 240px;
	float: right;
	clear: right;
	font-style:normal;
	color:#000066;
	font-size:16px;
	font-weight:bold;
}
#home_highlights li {
	line-height: 1.5em;
	margin-bottom: 10px;
	color:#000066;
	font-size:14px;
}
#logout {
	margin: 0;
	padding:5px 0 5px 0;
	text-align:right;
	width:660px;
	color:#000066;
	font-size:12px;
	background:#EEFAF9;
}
.contentTable {
	width:100%;
}
.columnNames {
	background:#EEFAF9;
	font-weight:bold;
}
.tableData {
	font-weight:normal;
}
.row1 {
	background-color: rgb(241, 244, 247);
}
.row2 {
	background-color: rgb(247, 250, 252);
}
#eServicesMenu {
	padding-left: 50px;
}
#eServicesMenu li {
	line-height: 2em;
}
.mainheading {
	color:#000066;
	font-size:30px;
	font-weight:bolder;
}
.text_body {
	color:#000066;
}
.header1 {
	color:#000066;
	font-size:18px;
	font-weight:bold;
}
.header2 {
	color:#000066;
	font-size:16px;
	font-style:italic;
	font-weight:bold;
}
.header3 {
	color:#000066;
	font-size:14px;
	font-style:italic;
}


	fieldset.function{
		font-weight:bold;
		background:#FF0000;
		color:#FF0000;
	}

	fieldset.mystyle{
		font-weight:bold;
		background:yellow;
		color:blue;
	}

	
	table.mystyle{
		font-weight:bold;
		background:blue;
		color:white;
	}

	table.blackyellow{
		font-weight:bold;
		background:yellow;
		color:black;
	}

	table.redyellow{
		font-weight:bold;
		background:yellow;
		color:red;
	}

	table.blueyellow{
		font-weight:bold;
		background:yellow;
		color:blue;
	}




	
	td.mia{
		font-weight:bold;
		background:black;
		color:red;
	}

	td.travel{
		font-weight:bold;
		background:yellow;
		color:blue;
	}

	td.red{
		font-weight:bold;
		background:black;
		color:red;
	}

	td.blue{
		font-weight:bold;
		background:yellow;
		color:blue;
	}

	tr.r0{
		font-weight:bold;
		background:black;
		color:blue;
	}

	tr.r1{
		font-weight:bold;
		background:red;
		color:black;
	}


	tr.r2{
		font-weight:bold;
		background:yellow;
		color:blue;
	}

	tr.r3{
		font-weight:bold;
		background:white;
		color:blue;
	}

	tr.r4{
		font-weight:bold;
		background:black;
		color:red;
	}


	tr.dnf{
		font-weight:bold;
		background:red;
		color:black;
	}

	tr.sat{
		font-weight:bold;
		background:green;
		color:yellow;
	}











	tr.responseOK{
		font-weight:bold;
		background:blue;
		color:white;
	}
	
	tr.responseN{
		font-weight:bold;
		background:black;
		color:red;
	}


	tr.numnull{
		font-weight:bold;
		background-color:black;
		color:yellow;
	}


	tr.numzero{
		font-weight:bold;
		background-color:black;
		color:red;
	}

	tr.numone{
		font-weight:bold;
		background-color:blue;
		color:yellow;
	}

	tr.numtwo{
		font-weight:bold;
		background-color:red;
		color:black;
	}

	tr.numthree{
		font-weight:bold;
		background-color:green;
		color:yellow;
	}

	tr.numfour{
		font-weight:bold;
		background-color:blue;
		color:yellow;
	}

	tr.numfive{
		font-weight:bold;
		background-color:black;
		color:red;
	}

    tr.numfiveplus{
		font-weight:bold;
		background-color:yellow;
		color:blue;
	}
    
    
    
	tr.travel{
		font-weight:bold;
		background:green;
		color:white;
	}


    tr.done{
		font-weight:bold;
		background:black;
		color:yellow;
	}

	tr.started{
		font-weight:bold;
		background:red;
		color:black;
	}

	tr.notdone{
		font-weight:bold;
		background:blue;
		color:white;
	}


    tr.job{
		font-weight:bold;
		background:black;
		color:yellow;
	}

	tr.dnf{
		font-weight:bold;
		background:red;
		color:black;
	}


	tr.inspection{
		font-weight:bold;
		background:green;
		color:white;
	}

	tr.sign{
		font-weight:bold;
		background:blue;
		color:white;
	}

	tr.gth{
		font-weight:bold;
		background:black;
		color:red;
	}


	tr.cell{
		font-weight:bold;
		color:yellow;
	}

	tr.redblackcell{
		font-weight:bold;
		background:black;
		color:red;
	}

	tr.blackredcell{
		font-weight:bold;
		background:red;
		color:black;
	}

	tr.blackyellowcell{
		font-weight:bold;
		background:yellow;
		color:black;
	}

	
	tr.darker{
		font-weight:bold;
		background:grey;
		color:white;
	}
	

	td.col50{
		font-weight:bold;
		color:yellow;
		width:50px
	}
    td.col30{
		font-weight:bold;
		color:yellow;
    	width:30px
    }
	td.col10{
		font-weight:bold;
		color:yellow;
		width:10px
	}
	
	h2.head{font-weight:bold;color:blue}
	ul.show{font-weight:bold;color:blue}
    b.error{font-weight:bold;color:red}
    
html {
	font-family:Verdana,Arial,Helvetica,sans-serif;
}
body {
	color:#505050;
	font-size:12px;
	margin:0 auto;
	width:1100px;
}
a {
	background-color:transparent;
	color:#0033AA;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
.shark1 {
	background-repeat:repeat;
	color:#000066;
	font-family:Arial,Helvetica,sans-serif;
	font-size:22px;
	font-style:italic;
	font-variant:normal;
	font-weight:bolder;
	text-transform:none;
}
.mainheading {
	color:#000066;
	font-size:30px;
	font-weight:bolder;
}
.text_body {
	color:#000066;
}
.header1 {
	color:#000066;
	font-size:18px;
	font-weight:bold;
}
.header2 {
	color:#000066;
	font-size:16px;
	font-style:italic;
	font-weight:bold;
}
.header3 {
	color:#000066;
	font-size:14px;
	font-style:italic;
}
#nav, #nav ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
}

#nav a {
	display: block;
	width: 100px;
}

#nav li { /* all list items */
	float: left;
}

#nav li ul { /* second-level lists */
	position: absolute;
	width: 100px;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	font-weight:normal;
}
#nav li:hover ul, #nav li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}

#nav {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url("/images/menu_bg.gif") repeat-x scroll 0 0;
	border-bottom:0px solid #999999;
	display:block;
	height:30px;
	margin:1px;
	width:660px;
}

#nav ul {
	font-size:14px;
	font-weight:bold;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0 !important;
	padding:0;
	text-indent:0;
}
#nav li {
	float:left;
}
#nav li a {
	-moz-background-clip:border;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#FFFFFF url("/images/nav_bg.gif") repeat-x scroll 0 0;
	border-right:1px solid #FFFFFF;
	color:#1A1E1E;
	display:block;
	margin:0 !important;
	padding:5px 5px 5px 15px;
	text-align:left;
}

#nav #mainMenuClients {
	width: 90px;
}
#nav #mainMenuMessages {
	width: 90px;
}

#nav #mainMenuSales {
	width: 90px;
}

#nav #mainMenuTasks {
	width: 90px;
}

#nav #mainMenuHumanResources {
	width: 90px;
}

#nav #mainMenuProduction {
	width: 110px;
}

#nav #mainMenuStats {
	width: 90px;
}

#nav #mainMenuManagement {
	width: 90px;
}



#nav li:hover, #mainMenu li.menuMouseHover {
	background-color: #F8ECDC;
	background: url("/images/mainHover.gif");
}
#nav li a:hover {
	background: url("/images/mainHover.gif");
}
#nav li ul li a:hover {
	color:inherit;
}
/*
#nav li.current a {
	background-color: #F8ECDC;
	background: url("/images/mainHover.gif");
}
*/
.content {
	margin:15px 15px 15px 15px;
	padding:0;
	width:630px;
	line-height: 150%;
}
#footer {
	border-top:1px dashed #A9A9A9;
	margin:20px 0 0 0;
	padding:10px 0 10px;
	width:660px;
}
#footer #contact {
	text-align:right;
}
#footer #contact img {
	vertical-align:text-top;
}	
.content .name {
	font-weight:bold;
}
.content .bold {
	font-weight:bold;
}
.content td {
	vertical-align: top;
}
fieldset {
	-moz-border-radius-bottomleft:7px;
	-moz-border-radius-bottomright:7px;
	-moz-border-radius-topleft:7px;
	-moz-border-radius-topright:7px;
	background:#EEFAF9 none repeat scroll 0 0;
	border:1px solid #000066;
	margin:0 0 1.25em;
	padding:8px 8px;
	width:1100px;
}

fieldset legend {
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	background:#EEFAF9;
	border-color:#000066;
	border-style:solid;
	border-width:3px 1px 1px;
	font-size:13px;
	font-weight:bold;
	margin:0 0 6px;
	padding:3px 6px;
}
.floatLeft {
	float:left;
	clear: left;
	line-height: .99em;
}
.floatRight {
	float: right;
	clear: right;
	line-height: .99em;
}
.clearBoth {
	clear:both;
	margin: 0;
	padding: 0;
}
#buttons {
	padding: 12px 8px 8px 12px;
	width: 640px;
	background:#EEFAF9;
}
#home_left {
	margin:0;
	padding: 12px 8px 12px 8px;
	float:left;
	clear: left;
}
#home_right {
	margin:0;
	padding: 12px 8px 12px 8px;
	width: 240px;
	float: right;
	clear: right;
	font-style:normal;
	color:#000066;
	font-size:16px;
	font-weight:bold;
}
#home_highlights li {
	line-height: 1.5em;
	margin-bottom: 10px;
	color:#000066;
	font-size:14px;
}
#logout {
	margin: 0;
	padding:5px 0 5px 0;
	text-align:right;
	width:660px;
	color:#000066;
	font-size:12px;
	background:#EEFAF9;
}
.contentTable {
	width:100%;
}
.columnNames {
	background:#EEFAF9;
	font-weight:bold;
}
.tableData {
	font-weight:normal;
}
.row1 {
	background-color: rgb(241, 244, 247);
}
.row2 {
	background-color: rgb(247, 250, 252);
}
#eServicesMenu li {
	line-height: 2em;
}    


.leftColumn {
	width: 280px;
	height: 200px;
	margin: 1px 1px 1px 1px;
	float: left;
	background-color: green;
}
.middleColumn {
	width: 280px;
	height: 200px;
	margin: 5px 5px 5px 5px;
	float: left;
	background-color: #cccccc;
}
.rightColumn {
	width: 180px;
	height: 200px;
	float: right;
	margin: 5px 5px 5px 5px;
	vertical-align: top;
	background-color:blue;
}


.oneColumn {
	width: 365px;
	height: 350px;
	margin: 1px 1px 1px 1px;
	border:5px solid blue;
	float: left;
	background-color: #D4ECFB;
}
.twoColumn {
	width: 265px;
	height: 350px;
	margin: 1px 1px 1px 1px;
	border:5px solid blue;
	float: right;
	background-color: #BFE2F9;
}

.center5 {
 text-align:center;
 }