<div class="content">

<p class="header1">Registered on White Shark Online Services</p>

<p class="text_body">You have successfully registered on White Shark Online Services. 
An email containing initial random password was sent to <b><%= @registration_form.email %></b>,
please get it from your email box and login to <%= link_to 'White Shark Online Services', login_path %> 
with this email address and password.</p> 

</div>
